body {
  padding:0 20px;
  margin:0;
  line-height:1.5em;
  color:#333;
  background-color:#fff;
  font-family:sans-serif;
}

#wrapper {
  width:100%;
  margin:auto;
  margin-top:10px;
  overflow-x:hidden;
}
