h1, h2, h3, h4, h5, h6 { padding:0;margin:0; }

body {
  padding:30px;
  margin:0;
  line-height:1.5em;
  color:#333;
  background-color:#fff;
  font-family:'Cabin',sans-serif;
  letter-spacing:1px;
  font-weight:400;
  font-size:18px;
}

a {
  text-decoration: none;
  color:#2D51A4;
}

a:visited { color:#2D51A4; }
a:hover { color:#7acf66; }

ul { list-style-type:square;}

code {
  background-color:#f9f9f9;
  border:1px solid #d5d5d5;
  display:inline;
  font-family:monospace;
  font-size:15px;
  font-weight:bold;
  margin:0;
  padding:3px;
}

.clear { clear:both; }

#wrapper {
  width:800px;
  margin:auto;
  margin-top:10px;
}

#header {
  padding-bottom:5px;
  border-bottom:solid 2px #cecece;
  margin-bottom:10px;
  padding-left:5px;
  text-align:left;
}

#header h1 {
  margin:0;
  padding:0 0 5px 0;
  font-size:30px;
  text-transform:lowercase;
  font-weight:700;
}

#header h1 a {
  border:0;
}

#header #nav ul {
  margin:0;
  padding-left:5px;
  float:right;
  list-style-type:none;
}

#header #nav li {
  margin-left:10px;
  float:left;
  text-align:center;
  min-width:100px;
}

#header #nav li.first {
  margin-left:0px;
}

#header #nav li span.selected {
  border-bottom:dotted 1px #cecece;
}

#content {
  margin-top:30px;
  margin-bottom:30px;
  padding-left:10px;
}

#content h1 {
  margin-top:30px;
  padding-left:15px;
  font-size:26px;
  font-weight:700;
  border-left:5px solid #7acf66;
}

#content h2 {
  margin-top:30px;
  font-size:24px;
  font-weight:700;
  border-bottom:1px dotted #cecece;
}

#content h3 {
  margin-top:30px;
  font-size:22px;
  font-weight:700;
  padding-left:15px;
  border-left:5px solid #7acf66;
}

#content p {
  padding:0;
  margin:10px 0;
}

#content .posts {
  margin:0;
  padding:0;
  list-style-type:none;
}

#content .posts .post {
  margin-top:30px;
}

#content .posts li {
  margin-top:10px;
  padding-left:10px;
  border-left:3px solid #7acf66;
}

#content .metadata {
  margin-top:15px;
  margin-bottom:30px;
  padding:5px 15px;
  font-size:22px;
  border-left:5px solid #7acf66;
}

#content .metadata span {
  display:block;
  font-weight:bold;
}

#content .metadata span.title {
  font-size:28px;
}

#content .metadata span.date {
  font-size:15px;
  font-weight:normal;
}

#content .metadata .tags ul {
  margin:0;
  padding:0;
  list-style-type:none;
}

#content .metadata .tags li {
  font-size:15px;
  display:inline-block;
}

#content .metadata .tags li a {
  padding:3px 7px;
  background-color:#f9f9f9;
  color:#333;
}

#content #me {
  float:right;
  padding-left:20px;
  padding-bottom:10px;
  padding-right:10px;
}

#footer {
  border-top:solid 2px #cecece;
  margin-top:10px;
  margin-bottom:40px;
  padding-top:5px;
  padding-right:5px;
}

#footer #social {
  padding-left:50px;
}

#footer #social ul {
  padding:0;
  margin:0;
  list-style-type:none;
}

#footer #social ul li {
  display:inline-block;
  width:50px;
}

#footer #social a {
  display:inline-block;
  vertical-align:middle;
  color:#9798a7;
  border-bottom:none;
  font-size:22px;
}

#footer #social a:hover {
  color:#7acf66;
}

#footer #copy {
  font-size:16px;
}
