---
layout: layout
title: About Me
header: Rob Shaw
---

<div id="me"><img src="/media/me.png" /></div>

<p>I'm Rob Shaw - a Computer Science graduate from Purdue residing in Indianapolis, Indiana.</p>

<p>You can find me on <a href="http://twitter.com/borwahs/">twitter</a> and <a href="http://github.com/borwahs/">github</a> - or contact me via <a href="mailto:rob@borwahs.com">email</a>.</p>

<div class="clear"></div>