---
layout: layout
title: borwahs.com
header: Rob Shaw
---

{% if site.posts.size > 0 %}
  <ul class="posts">
  {% for post in site.posts %}
    <li class="post">
      <a href="{{post.url}}">{{ post.title }}</a>
      <div class="datetime">{{ post.date | date: "%B %d, %Y" }}</div>
    </li>
  {% endfor %}
  </ul>
{% else %}
  No posts were found.
{% endif %}
