<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Rob Shaw - {{ page.title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <link media="screen, projection" href="/css/style.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (max-device-width: 768px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link href="/webfonts/ss-social.css" type="text/css" rel="stylesheet" />
  <link href="/css/pygments.css" type="text/css" rel="stylesheet" />
  <link href="/css/gridism.css" type="text/css" rel="stylesheet" />
</head>
<body>

  <div id="wrapper">
    <div class="grid" id="header">
      <div class="unit one-third center-on-mobiles">
        <h1><a href="/">{{ page.header }}</a></h1>
      </div>
      <div class="unit two-thirds" id="nav">
        <ul>
          <li class="first">
            {% if page.url != "/" and page.url != "/index.html" %}
              <a href="/">Home</a>
            {% else %}
              <span class="selected">Home</span>
            {% endif %}
          </li>
          <li>
            {% if page.url != "/about/" and page.url != "/about" %}
              <a href="/about/">About</a>
            {% else %}
              <span class="selected">About</span>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <div class="grid" id="footer">
      <div id="social" class="ss-icon unit two-thirds hide-on-mobiles">
        <ul>
          <li><a href="mailto:rob@borwahs.com" target="_blank" title="Email Rob Shaw">email</a></li>
          <li><a href="http://twitter.com/borwahs/" title="@borwahs Twitter Account">twitter</a></li>
          <li><a href="http://github.com/borwahs/" title="borwahs Github Account">octocat</a></li>
          <div class="clear"></div>
        </ul>
      </div>

      <div class="unit one-third center-on-mobiles" id="copy">
      Copyright © 2013 Rob Shaw
      </div>
    </div>
  </div>
</body>
</html>
