---
layout: layout
---

<div class="metadata">
  <span class="title">{{ page.title }}</span>
  <span class="date">{{ page.date | date: "%B %d, %Y" }}</span>
  
  {% if page.tags.size > 0 %}
    <div class="tags">
      <ul>
        {% for tag in page.tags %}
          <li><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>

{{ content }}