---
layout: layout
---

<h1>{{ page.title }}</h1>

<ul>
  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if tag == page.tag %}
        <li>
          <a href="{{post.url}}">{{ post.title }}</a> 
          <span class="datetime">- {{ post.date | date: "%B %d, %Y" }}</span>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>