---
layout: layout
---

<h1>{{ page.title }}</h1>

{% if page.tags.size > 0 %}
  <ul>
    {% for tag in page.tags %}
      <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
{%  else  %}
  <p>No tags.</p>
{% endif %}
  